# 1 Interoperability Assessment Form

## 1.1 General Information 

**Date of form:** 2023-11-07

**Form filled by:** Kassy Raymond

**Name of data portal:** The Global Standard for Livestock Data (ICAR)

**URL:** https://my.icar.org/stats/list

**Administrative Level (Intergovernmental, Supranational, National):** International Organization

**What is the data publication system that is used?** Unspecified. Seems to be proprietary â€“ they listed Mtech (https://www.mtech.fi), a Finnish consulting company, on their website. They offer data integration and sharing, and master metadata management solutions. 

**How do you search for data through the interface?** Through a data viewer. You can look at the datasets available through a dropdown. There are buttons on the top to toggle species. 

<img src="../../docs/screenshots/20240122-icar.png" alt="screenshot of ICAR data download interface" style="width:600px"/>

**How many datasets report livestock agriculture population data?** 4; one for cattle, one for sheep, one for goat, and one for buffalo

## 2 Data and Metadata Information

### 2.1 Metadata 

**Is there metadata available through an API?** 
No

**Where no API is available, can you bulk download, scrape, or otherwise export the metadata?** 
I could not find metadata on the statistics portal. There is a list of recent updates, but they are not downloadable. To get these updates you would have to scrape or create a bot that checks the website on a set time interval. 

**List all formats that metadata are available in**
N/A

**Are metadata elements described using a semantic schema (DCMI, schema.org etc.)? If so, which schema is used?**
N/A

**Regardless of whether a semantic schema is used, provide a list of all metadata elements used in the metadata.**
N/A

**Is the metadata content provided using content descriptive standards (controlled vocabularies, ontologies, thesauri etc.)? If so, which content descriptive standards are used? Provide links or references when available.**
N/A

**Is licensing information provided in the metadata? If so, which license is used?** 
There was no licensing provided in the metadata or on the data portal

**Is the date of creation provided in the metadata?**
N/A 

**Is the date of last update provided in the metadata?**
There is a list of recent updates, but they are not downloadable. To get these updates you would have to scrape or create a bot that checks the website on a set time interval.

### 2.2 Data

**Where no API is available, can you bulk download, scrape, or otherwise export the data?**
Yes, you can export the data in Excel

**List all formats that data are available in:**
Excel

**Are there descriptions (structural metadata) for each of the columns?** 
No

**Is the content of the dataset (countries, dates, species etc.) described using a standard (controlled vocabulary, taxonomy, thesauri, ontology etc.) or defined?**
Not that I could find. ICAR creates standards for collecting livestock data, so it assumed that the data is collected using these standards. However, I could not find information about the content of the datasets providing summary statistics.

**Are previous versions of the data available?**
No

# 3 Data Collection

## 3.1 Setup 

This section provides package and local module imports. This section will be dependent on whether there is an API and/or API wrapper available. 

The purposes of this section are to determine whether the following exists, and if so how they can be programmatically accessed: 

* Metadata elements 
* Content descriptive standards 
* Species categories used in data 
* Definitions of categories 
* Formats that data and metadata are available in

The data was downloaded in excel format on 2023-11-07.

Metadata was not available. This code provides an analysis of the countries that are available, for which years, and a general exploratory analysis of the excel files that were downloaded from the interface.

## 3.2 Cattle

In [11]:
# Some set up for display in notebook: 
pd.options.display.max_rows = 200

In [15]:
import pandas as pd 
import transform_helpers as th

In [30]:
# Files of interest: 
files = ['20231107_ICAR_Cattle.xlsx','20231107_ICAR_Buffalo.xlsx','20231107_ICAR_Goats.xlsx','20231107_ICAR_Sheep.xlsx']

# Species 
species = ['Cattle','Buffalo','Goats','Sheep']

out_path = '../../data/processed/icar'

cattle = pd.read_excel('../../data/raw/icar/20231107_ICAR_Cattle.xlsx')
cattle

,Country,Year,Total number of dairy cows,Total number of dairy herds,Average of cows per herd,Average milk production per cow per year (kg),Percent of fat production per cow per year (%),Percent of protein production per cow per year (%),Average cell count,Notes
0,Australia (DataGene Limited),2022,1340000.0,4420.0,303.0,6203.0,4.17,3.40,NaN,NaN
1,Belgium (Wallonia),2022,185110.0,2544.0,72.8,7089.0,3.95,3.34,204.0,NaN
2,Bulgaria,2022,123456.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Chile,2022,325000.0,4800.0,68.0,7100.0,4.12,3.63,NaN,NaN
4,Croatia,2022,102037.0,12397.0,8.2,5007.0,4.10,3.50,273.0,NaN
...,...,...,...,...,...,...,...,...,...,...
975,UK - Scotland (by CIS),2001,82119.0,611.0,134.0,6878.0,3.94,3.26,NaN,NaN
976,UK - Wales (by CIS),2001,5391.0,63.0,85.0,6700.0,4.06,3.31,NaN,Does not include 1stop herds
977,USA - (by NDHIA),2001,103000.0,NaN,NaN,8238.0,3.67,NaN,NaN,USDA - NASS
978,"Latvia, LVA",2000,204500.0,81793.0,2.5,3898.0,4.08,3.18,NaN,NaN
979,Chile,1997,617612.0,49154.0,13.0,3319.0,3.83,3.15,NaN,NaN

For the purposes of this study, we are only interested in the total number of dairy cows column, so drop other columns

In [37]:
cattle = cattle[['Country','Year','Total number of dairy cows']]
cattle

                          Country  Year  Total number of dairy cows
0    Australia (DataGene Limited)  2022                   1340000.0
1              Belgium (Wallonia)  2022                    185110.0
2                        Bulgaria  2022                    123456.0
3                           Chile  2022                    325000.0
4                         Croatia  2022                    102037.0
..                            ...   ...                         ...
975        UK - Scotland (by CIS)  2001                     82119.0
976           UK - Wales (by CIS)  2001                      5391.0
977              USA - (by NDHIA)  2001                    103000.0
978                   Latvia, LVA  2000                    204500.0
979                         Chile  1997                    617612.0

[980 rows x 3 columns]

In [6]:
# Is there any NAs in the 'Total number of dairy cows' column? 
cattle.info()
cattle.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country                     980 non-null    object
 1   Year                        980 non-null    int64
 2   Total number of dairy cows  975 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.1+ KB

Country                       0
Year                          0
Total number of dairy cows    5
dtype: int64

In [7]:
# Remove nas for Total number of dairy cows
cattle = cattle.dropna()

In [8]:
# Look at the country column
print(cattle['Country'].unique())
print(len(cattle['Country'].unique()))

['Australia (DataGene Limited)' 'Belgium (Wallonia)' 'Bulgaria' 'Chile'
 'Croatia' 'Denmark' 'Estonia' 'Finland' 'France' 'Germany (BRS)'
 'Iceland' 'Ireland' 'Israel' 'Italy (AIA)' 'Luxembourg'
 'Netherlands (by CRV)' 'Norway' 'Pakistan (by CABROP)' 'Poland' 'Serbia'
 'Slovak Republic' 'South Africa (by ARC)' 'Spain' 'Sweden (Vaxa)'
 'Switzerland' 'Taiwan' 'Tunisia (OEP)' 'UK - England (by CIS)'
 'UK - Jersey Island' 'UK - N. Ireland (by CIS)' 'UK - Scotland (by CIS)'
 'UK - Wales (by CIS)' 'Ukraine' 'Austria'
 'Belgium (Flemish Region by CRV)' 'Canada' 'Czech Rep.' 'Japan'
 'Latvia, LVA' 'New Zealand (by LIC)'
 'Romania (Asociatia Generala a Crescatorilor de Taurine)'
 'Romania (Simmental Assoc.)' 'Slovenia' 'South Korea (by DCIC Centre)'
 'Turkey' 'Uruguay (by MU)' 'USA - (by NDHIA)' 'Hungary (by LPT)'
 'Lithuania' 'New Zealand (by DairyNZ)' 'UK - (by DALE)'
 'China (by Shanghai Dairy Breeding Center Co)'
 'South Africa (by StudBook)' 'Portugal (by ANABLE)'
 'UK - England+Wales (by NMR)' 'UK - N. Ireland (by NMR)'
 'UK - Scotland (by NMR)' 'India'
 'China (Dairy Cattle Research Centre of Shandong)' 'Morocco'
 'Hungary (by NEBIH)' 'South Korea (by KAI Assoc.)' 'Netherlands (by NVO)'
 'Greece' 'Portugal (Min. Agric.)' 'USA - (by AgSource)' 'Mexico'
 'Argentina']
68

The country column has a mix of country names and other information in brackets. In some cases, the country name is followed by the name of a company (for instance, AgSource or DCIC Centre). In other instances, a region in a country is given in parantheses; an example of this is "Belgium (Wallonia)". There is no common naming convention or standard used for countries and is quite unpredictable.

In [30]:
print(cattle['Year'].unique())

[2022 2021 2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010 2009
 2008 2007 2006 2005 2004 2003 2002 2001 2000 1997]

In [12]:
cattle.groupby(['Country'])['Year'].unique().apply(list).reset_index()

,Country,Year
0,Argentina,[2002]
1,Australia (DataGene Limited),"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
2,Austria,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
3,Belgium (Flemish Region by CRV),"[2021, 2020, 2019, 2018, 2017, 2016, 2005, 200..."
4,Belgium (Wallonia),"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
5,Bulgaria,"[2022, 2021, 2010, 2009]"
6,Canada,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
7,Chile,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
8,China (Dairy Cattle Research Centre of Shandong),"[2015, 2014]"
9,China (by Shanghai Dairy Breeding Center Co),"[2018, 2017, 2016, 2015, 2014]"
10,Croatia,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
11,Czech Rep.,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
12,Denmark,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
13,Estonia,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
14,Finland,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
15,France,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
16,Germany (BRS),"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
17,Greece,"[2012, 2011, 2010, 2009, 2008, 2007, 2006, 200..."
18,Holstein UK,[2021]
19,Hungary (by LPT),"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
20,Hungary (by NEBIH),"[2014, 2013, 2012, 2011, 2010, 2009, 2008, 200..."
21,Iceland,"[2022, 2021, 2020, 2019]"
22,India,"[2016, 2014, 2013, 2012, 2002, 2001]"
23,Ireland,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
24,Israel,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
25,Italy (AIA),"[2022, 2021, 2020, 2019, 2018, 2017, 2014, 201..."
26,Japan,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
27,"Latvia, LVA","[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
28,Lithuania,"[2020, 2019, 2018, 2017, 2016, 2015, 2014, 201..."
29,Luxembourg,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
30,Mexico,"[2008, 2007, 2006, 2005, 2004, 2003, 2002]"
31,Morocco,[2015]
32,Netherlands (by CRV),"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
33,Netherlands (by NVO),"[2012, 2011, 2010, 2008, 2007, 2006, 2005, 200..."
34,New Zealand (by DairyNZ),"[2020, 2019, 2018, 2017, 2016, 2015]"
35,New Zealand (by LIC),"[2021, 2020, 2019, 2018, 2014, 2012, 2011, 201..."
36,Norway,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
37,Pakistan (by CABROP),[2022]
38,Poland,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
39,Portugal (Min. Agric.),"[2010, 2009]"
40,Portugal (by ANABLE),"[2017, 2016, 2015, 2014, 2013]"
41,Romania (Asociatia Generala a Crescatorilor de...,"[2021, 2020, 2019]"
42,Romania (Simmental Assoc.),"[2021, 2020, 2019]"
43,Serbia,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
44,Slovak Republic,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
45,Slovenia,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
46,South Africa (by ARC),"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
47,South Africa (by StudBook),[2018]
48,South Korea (by DCIC Centre),"[2021, 2020, 2019, 2018, 2017, 2016, 2015]"
49,South Korea (by KAI Assoc.),"[2014, 2013, 2012, 2011, 2010, 2009, 2008, 200..."
50,Spain,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
51,Sweden (Vaxa),"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
52,Switzerland,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
53,Taiwan,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
54,Tunisia (OEP),"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
55,Turkey,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
56,UK - (by DALE),"[2019, 2018, 2017, 2016]"
57,UK - England (by CIS),"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
58,UK - England+Wales (by NMR),"[2017, 2016, 2015, 2014, 2013, 2012, 2011, 201..."
59,UK - Jersey Island,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
60,UK - N. Ireland (by CIS),"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
61,UK - N. Ireland (by NMR),"[2017, 2016, 2015, 2014, 2013]"
62,UK - Scotland (by CIS),"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
63,UK - Scotland (by NMR),"[2017, 2016, 2015, 2014, 2013, 2012, 2011]"
64,UK - Wales (by CIS),"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
65,USA - (by AgSource),[2009]
66,USA - (by NDHIA),"[2021, 2020, 2019, 2015, 2014, 2013, 2012, 201..."
67,Ukraine,[2022]
68,Uruguay (by MU),"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."

To harmonize this data sets with others there are several action points and questions to be answered: 
1. If there is no information about who the submission (row) is by, do you assume that it is a number that reflects the total in the whole country or region?
2. Similarly, if the submission is provided by a company, is this information just related to the company? That is, would this be the number of dairy cattles associated with a given company?
3. Seperate out country from other information. Assign country to an ISO3 or ISO2 (or M49) code. If a region is provided, determine whether there is a standard for the region/administrative level and use that standard. Provide another column for who the record is provided by. Where acronyms are used, provide long form as well.

In [38]:
# Add a column for dairy cows/the cat
cattle['category'] = 'dairy cows'
cattle

/var/folders/5w/wbhyzbyd5779ybj0jwkcgjsh0000gn/T/ipykernel_22112/4252827923.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cattle['category'] = 'dairy cows'

,Country,Year,Total number of dairy cows,category
0,Australia (DataGene Limited),2022,1340000.0,dairy cows
1,Belgium (Wallonia),2022,185110.0,dairy cows
2,Bulgaria,2022,123456.0,dairy cows
3,Chile,2022,325000.0,dairy cows
4,Croatia,2022,102037.0,dairy cows
...,...,...,...,...
975,UK - Scotland (by CIS),2001,82119.0,dairy cows
976,UK - Wales (by CIS),2001,5391.0,dairy cows
977,USA - (by NDHIA),2001,103000.0,dairy cows
978,"Latvia, LVA",2000,204500.0,dairy cows
979,Chile,1997,617612.0,dairy cows

In [41]:
# Create country, parent df
area_parent = th.get_cat_yr(cattle, 'Country', 'Year', columns = ['Value','year'])
area_parent['parent'] = 'country'
th.write_parent_child(out_path, area_parent, 'icar_cattle', 'area')

In [42]:
# Create category, parent df
category_parent = th.get_cat_yr(cattle, 'category', 'Year', columns = ['Value','year'])
category_parent['parent'] = 'category'
th.write_parent_child(out_path, category_parent, 'icar_cattle', 'category')

In [29]:
cattle_cat_yr_area = th.get_cat_yr_area(cattle, 'category', 'Country', 'Year')

## 3.3. Buffalo

In [44]:
buffalo = pd.read_excel('../../data/raw/icar/20231107_ICAR_Buffalo.xlsx')
buffalo

,Country,Year,Total number of dairy cows,Total number of dairy herds,Average of cows per herd,Average milk production per cow per year (kg),Percent of fat production per cow per year (%),Percent of protein production per cow per year (%),Average cell count,Notes
0,Pakistan (by CABROP),2022,24179,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Italy (AIA),2021,414150,1937.0,NaN,NaN,NaN,NaN,NaN,Statistics from National Zootechnical Data Ban...
2,Italy (AIA),2020,403627,1971.0,NaN,NaN,NaN,NaN,NaN,Statistics from National Zootechnical Data Ban...
3,Italy (AIA),2019,398063,2061.0,NaN,NaN,NaN,NaN,NaN,Statistics from National Zootechnical Data Ban...
4,Italy (AIA),2018,397177,2097.0,NaN,NaN,NaN,NaN,NaN,Statistics from National Zootechnical Data Ban...

In [35]:
# Look at the country column
print(buffalo['Country'].unique())
print(len(buffalo['Country'].unique()))

['Pakistan (by CABROP)' 'Italy (AIA)']
2

In [36]:
buffalo.groupby(['Country'])['Year'].unique().apply(list).reset_index()

                Country                      Year
0           Italy (AIA)  [2021, 2020, 2019, 2018]
1  Pakistan (by CABROP)                    [2022]

In [45]:
buffalo['category'] = 'dairy cow'

In [46]:
# Create country, parent df
area_parent = th.get_cat_yr(buffalo, 'Country', 'Year', columns = ['Value','year'])
area_parent['parent'] = 'country'
th.write_parent_child(out_path, area_parent, 'icar_buffalo', 'area')

In [47]:
# Create category, parent df
category_parent = th.get_cat_yr(cattle, 'category', 'Year', columns = ['Value','year'])
category_parent['parent'] = 'category'
th.write_parent_child(out_path, category_parent, 'icar_buffalo', 'category')

## 3.4. Sheep

In [49]:
sheep = pd.read_excel('../../data/raw/icar/20231107_ICAR_Sheep.xlsx')
sheep

,Country,Year,Breed,Flocks,Ewes/ Does,Recorded flocks,Recorded ewes,Milking scheme,"Suckling period, d","Milking machine, % of recorded flocks",Flocks in D recording,Ewes in D recording/ Does in D recording,Notes
0,Croatia,2022,Istrian Sheep,80.0,2900.0,16.0,930.0,2.0,55.0,14.0,NaN,NaN,NaN
1,Croatia,2022,Paska Sheep,543.0,30000.0,34.0,3892.0,2.0,75.0,30.0,NaN,NaN,NaN
2,Croatia,2022,Lacaune,18.0,2500.0,14.0,1890.0,2.0,43.0,100.0,NaN,NaN,NaN
3,Croatia,2022,East Friesian,50.0,300.0,3.0,64.0,2.0,56.0,80.0,NaN,NaN,NaN
4,France,2022,Corse,350.0,85000.0,51.0,18403.0,2.0,35.0,100.0,43.0,9948.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,Slovak Republic,2004,Bergschaf,NaN,0.0,1.0,10.0,2.0,48.0,NaN,NaN,NaN,NaN
861,Slovak Republic,2004,Lacaune,NaN,0.0,6.0,227.0,2.0,45.0,2.0,NaN,NaN,NaN
862,Slovak Republic,2004,Improved Valachian,NaN,0.0,44.0,6373.0,2.0,53.0,12.0,NaN,NaN,NaN
863,Slovak Republic,2004,Tsigai,NaN,0.0,29.0,4528.0,2.0,51.0,10.0,NaN,NaN,NaN
864,Slovak Republic,2004,Hybrids (synthetic population Slovak Dairy Sheep),NaN,0.0,14.0,1738.0,2.0,48.0,5.0,NaN,NaN,NaN

In [38]:
# Is there any NAs in the 'Ewes/Does' column? 
sheep.info()
sheep.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 865 entries, 0 to 864
Data columns (total 13 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Country                                   865 non-null    object
 1   Year                                      865 non-null    int64
 2   Breed                                     865 non-null    object
 3   Flocks                                    443 non-null    float64
 4   Ewes/ Does                                766 non-null    float64
 5   Recorded flocks                           815 non-null    float64
 6   Recorded ewes                             834 non-null    float64
 7   Milking scheme                            578 non-null    float64
 8   Suckling period, d                        705 non-null    float64
 9   Milking machine, % of recorded flocks     343 non-null    float64
 10  Flocks in D recording                     73 non-null     float64
 11  Ewes in D recording/ Does in D recording  70 non-null     float64
 12  Notes                                     62 non-null     object
dtypes: float64(9), int64(1), object(3)
memory usage: 88.0+ KB

Country                                       0
Year                                          0
Breed                                         0
Flocks                                      422
Ewes/ Does                                   99
Recorded flocks                              50
Recorded ewes                                31
Milking scheme                              287
Suckling period, d                          160
Milking machine, % of recorded flocks       522
Flocks in D recording                       792
Ewes in D recording/ Does in D recording    795
Notes                                       803
dtype: int64

In [50]:
# Keep only relevant columns
sheep = sheep[['Ewes/ Does','Country','Year','Breed','Notes']]

In [44]:
# Drop nas 
sheep['Ewes/ Does'].isna().sum()

99

In [46]:
sheep = sheep.dropna(subset=['Ewes/ Does'])

In [47]:
sheep['Ewes/ Does'].isna().sum()

0

In [48]:
# Look at the country column
print(sheep['Country'].unique())
print(len(sheep['Country'].unique()))

['Croatia' 'France' 'Slovenia' 'Spain' 'Slovak Republic' 'Italy (AIA)'
 'Portugal (Min. Agric.)' 'Canada' 'Germany (BRS)' 'Belgium (Wallonia)'
 'Czech Rep.' 'Greece']
12

In [53]:
sheep['category'] = 'Ewes/ Does'

/var/folders/5w/wbhyzbyd5779ybj0jwkcgjsh0000gn/T/ipykernel_22112/1322894823.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sheep['category'] = 'Ewes/ Does'

In [54]:
sheep

,Ewes/ Does,Country,Year,Breed,Notes,category
0,2900.0,Croatia,2022,Istrian Sheep,NaN,Ewes/ Does
1,30000.0,Croatia,2022,Paska Sheep,NaN,Ewes/ Does
2,2500.0,Croatia,2022,Lacaune,NaN,Ewes/ Does
3,300.0,Croatia,2022,East Friesian,NaN,Ewes/ Does
4,85000.0,France,2022,Corse,NaN,Ewes/ Does
...,...,...,...,...,...,...
860,0.0,Slovak Republic,2004,Bergschaf,NaN,Ewes/ Does
861,0.0,Slovak Republic,2004,Lacaune,NaN,Ewes/ Does
862,0.0,Slovak Republic,2004,Improved Valachian,NaN,Ewes/ Does
863,0.0,Slovak Republic,2004,Tsigai,NaN,Ewes/ Does
864,0.0,Slovak Republic,2004,Hybrids (synthetic population Slovak Dairy Sheep),NaN,Ewes/ Does

In [55]:
# Create country, parent df
area_parent = th.get_cat_yr(sheep, 'Country', 'Year', columns = ['Value','year'])
area_parent['parent'] = 'country'
th.write_parent_child(out_path, area_parent, 'icar_sheep', 'area')

In [56]:
# Create category, parent df
category_parent = th.get_cat_yr(sheep, 'category', 'Year', columns = ['Value','year'])
category_parent['parent'] = 'category'
th.write_parent_child(out_path, category_parent, 'icar_sheep', 'category')

In [49]:
sheep.groupby(['Country'])['Year'].unique().apply(list).reset_index()

                   Country                                               Year
0       Belgium (Wallonia)   [2013, 2012, 2010, 2009, 2007, 2006, 2005, 2004]
1                   Canada  [2016, 2015, 2014, 2013, 2012, 2011, 2010, 200...
2                  Croatia  [2022, 2021, 2020, 2019, 2018, 2017, 2016, 201...
3               Czech Rep.  [2013, 2012, 2011, 2010, 2009, 2008, 2007, 200...
4                   France  [2022, 2021, 2020, 2018, 2016, 2015, 2013, 201...
5            Germany (BRS)  [2015, 2014, 2013, 2012, 2011, 2010, 2009, 200...
6                   Greece   [2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006]
7              Italy (AIA)  [2018, 2017, 2016, 2015, 2014, 2013, 2012, 201...
8   Portugal (Min. Agric.)                                 [2018, 2017, 2011]
9          Slovak Republic  [2019, 2018, 2017, 2016, 2015, 2014, 2013, 201...
10                Slovenia  [2021, 2020, 2019, 2018, 2017, 2016, 2015, 201...
11                   Spain  [2021, 2020, 2019, 2018, 2017, 2016, 2015, 201...

In [50]:
sheep.groupby(['Country','Breed'])['Year'].unique().apply(list).reset_index()

,Country,Breed,Year
0,Belgium (Wallonia),Dairy Sheep (All Breeds Together),"[2013, 2012, 2010]"
1,Belgium (Wallonia),Lacaune X Mouton Laitier Belge (Crosses),[2004]
2,Belgium (Wallonia),Mouton Laitier Belge,"[2009, 2007, 2006, 2005, 2004]"
3,Canada,All Breeds,"[2016, 2015, 2014, 2013, 2012, 2011, 2010, 200..."
4,Croatia,East Friesian,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
5,Croatia,Istrian Sheep,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
6,Croatia,Lacaune,"[2022, 2021, 2020, 2019, 2018, 2017, 2016]"
7,Croatia,Paska Sheep,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
8,Czech Rep.,Bergschaf,[2010]
9,Czech Rep.,Bohemian Forest Sheep,"[2013, 2010, 2009, 2008]"
10,Czech Rep.,Cross Breeds (East Friesian X Hampshire),"[2013, 2012]"
11,Czech Rep.,East Friesian,"[2013, 2012, 2011, 2010, 2009, 2008, 2007, 200..."
12,Czech Rep.,Improved Valachian,"[2010, 2009]"
13,Czech Rep.,Lacaune,"[2013, 2012, 2011, 2010, 2009, 2008, 2007, 200..."
14,Czech Rep.,Other Breeds,[2011]
15,Czech Rep.,Tsigai,[2012]
16,France,Basco-BÃ©arnaise,"[2022, 2021, 2020, 2018, 2016, 2015, 2013, 201..."
17,France,Corse,"[2022, 2021, 2020, 2018, 2016, 2015, 2013, 201..."
18,France,Lacaune,"[2022, 2021, 2020, 2018, 2016, 2015, 2013, 201..."
19,France,Manech tÃªte noire,"[2022, 2021, 2020, 2018, 2016, 2015, 2013, 201..."
20,France,Manech tÃªte rousse,"[2022, 2021, 2020, 2018, 2016, 2015, 2013, 201..."
21,Germany (BRS),Lacaune,"[2015, 2014, 2013, 2012, 2009, 2008]"
22,Germany (BRS),Ostfriesisches Milchschaf,"[2015, 2014, 2013, 2012, 2011, 2010, 2009, 200..."
23,Greece,Agriniou,"[2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006]"
24,Greece,Florinas-Pelagonias,"[2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006]"
25,Greece,Frizarta,"[2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006]"
26,Greece,Glossas Skopelou,"[2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006]"
27,Greece,Kalaritiki,"[2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006]"
28,Greece,Karagouniki,"[2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006]"
29,Greece,Karistou,"[2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006]"
30,Greece,Katsika,"[2013, 2012, 2011, 2010, 2009, 2008, 2007]"
31,Greece,Kefallinias,"[2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006]"
32,Greece,Kimis,"[2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006]"
33,Greece,Lesvou,"[2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006]"
34,Greece,Pilioritiki or Piliou,"[2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006]"
35,Greece,Sarakatsaniko,"[2013, 2012, 2011, 2010, 2009, 2008, 2007]"
36,Greece,Serron,"[2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006]"
37,Greece,Sfakion,"[2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006]"
38,Greece,Thrakis,[2007]
39,Greece,Xiou,"[2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006]"
40,Greece,Zakynthou,"[2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006]"
41,Italy (AIA),Altamurana,[2004]
42,Italy (AIA),Bagnolese,[2017]
43,Italy (AIA),Barbaresca,"[2018, 2016, 2015, 2013, 2012, 2011, 2010, 200..."
44,Italy (AIA),Brigasca,"[2017, 2016, 2015, 2012, 2011, 2010, 2009, 200..."
45,Italy (AIA),Comisana,"[2018, 2017, 2016, 2015, 2014, 2013, 2012, 201..."
46,Italy (AIA),Corniglio,"[2007, 2006, 2005, 2004]"
47,Italy (AIA),Delle Langhe,"[2018, 2017, 2016, 2015, 2014, 2013, 2012, 201..."
48,Italy (AIA),Di Teramo,[2016]
49,Italy (AIA),Frisona,"[2018, 2017, 2016, 2011, 2010, 2009, 2005, 2004]"
50,Italy (AIA),Garfagnina Bianca,[2018]
51,Italy (AIA),Gentile di Puglia,[2010]
52,Italy (AIA),Ile de France,"[2017, 2016]"
53,Italy (AIA),Lacaune,"[2018, 2017, 2016, 2013, 2012, 2011, 2010, 200..."
54,Italy (AIA),Massese,"[2018, 2017, 2016, 2015, 2014, 2013, 2012, 201..."
55,Italy (AIA),Moscia Leccese,"[2018, 2017, 2016, 2015, 2013, 2012, 2011, 201..."
56,Italy (AIA),Nera di Arbus,"[2016, 2015, 2013, 2012, 2011, 2010, 2009]"
57,Italy (AIA),Pinzirita,"[2017, 2016, 2015, 2014, 2013, 2012, 2011, 201..."
58,Italy (AIA),Romanov,"[2017, 2016]"
59,Italy (AIA),Sarda,"[2018, 2017, 2016, 2015, 2014, 2013, 2012, 201..."
60,Italy (AIA),Suffolk,[2018]
61,Italy (AIA),Valle del Belice,"[2018, 2017, 2016, 2015, 2014, 2013, 2012, 201..."
62,Italy (AIA),Zerasca,"[2018, 2017]"
63,Portugal (Min. Agric.),Churra da Terra Quente,"[2018, 2017, 2011]"
64,Portugal (Min. Agric.),Merina da Beira Baixa,"[2018, 2017]"
65,Portugal (Min. Agric.),Mondegueira,"[2018, 2017]"
66,Portugal (Min. Agric.),Saloia,"[2018, 2017, 2011]"
67,Portugal (Min. Agric.),Serra Da Estrela,[2011]
68,Portugal (Min. Agric.),Serra da Estrela,"[2018, 2017]"
69,Slovak Republic,Bergschaf,[2004]
70,Slovak Republic,East Friesian,"[2019, 2018, 2017, 2016, 2015, 2014, 2013, 201..."
71,Slovak Republic,Hybrids (synthetic population Slovak Dairy Sheep),"[2015, 2014, 2013, 2012, 2011, 2010, 2009, 200..."
72,Slovak Republic,Improved Valachian,"[2019, 2018, 2017, 2016, 2015, 2014, 2013, 201..."
73,Slovak Republic,Lacaune,"[2019, 2018, 2017, 2016, 2015, 2014, 2013, 201..."
74,Slovak Republic,Slovak Dairy Sheep,"[2019, 2018, 2017, 2016]"
75,Slovak Republic,Tsigai,"[2019, 2018, 2017, 2016, 2015, 2014, 2013, 201..."
76,Slovak Republic,Valachian,"[2019, 2018, 2017, 2016, 2015, 2012, 2011, 2010]"
77,Slovenia,Bovec Sheep,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
78,Slovenia,Improved Bovec sheep,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
79,Slovenia,Istrian Pramenka,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
80,Spain,Assaf,"[2012, 2011, 2010, 2009, 2008, 2007, 2006]"
81,Spain,Canaria,"[2013, 2012, 2011]"
82,Spain,Carranzana,"[2019, 2018, 2017, 2016, 2015, 2014, 2013, 201..."
83,Spain,Castellana,"[2017, 2016, 2015, 2014, 2013, 2012, 2011, 200..."
84,Spain,Churra da Terra Quente,"[2017, 2016, 2015, 2014, 2013, 2012, 2011, 201..."
85,Spain,ColmenareÃ±a,"[2017, 2016, 2015, 2014, 2013, 2011, 2009, 2008]"
86,Spain,Lacaune,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
87,Spain,Latxa,"[2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012]"
88,Spain,Latxa Cara Negra,"[2011, 2010, 2008, 2007]"
89,Spain,Latxa Cara Rubia,"[2011, 2010, 2008, 2007]"
90,Spain,Manchega,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
91,Spain,Menorquina,[2013]
92,Spain,Merino de Grazalema,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
93,Spain,Rubia de el Molar,"[2017, 2016, 2015, 2014, 2011, 2009, 2008]"

## 3.5. Goats

In [58]:
goats = pd.read_excel('../../data/raw/icar/20231107_ICAR_Goats.xlsx')
goats

,Country,Year,Breed,Flocks,Ewes/ Does,Recorded flocks,Recorded ewes,Milking scheme,"Suckling period, d","Milking machine, % of recorded flocks",Flocks in D recording,Ewes in D recording/ Does in D recording,Notes
0,Croatia,2022,Saanen,20.0,1500.0,15.0,493.0,2.0,46.0,92.0,NaN,NaN,NaN
1,Croatia,2022,Alpine,300.0,15000.0,48.0,3415.0,2.0,42.0,88.0,NaN,NaN,NaN
2,France,2022,Alpine,1173.0,165239.0,1151.0,148517.0,NaN,NaN,NaN,NaN,NaN,NaN
3,France,2022,Poitevine,NaN,NaN,27.0,388.0,NaN,NaN,NaN,NaN,NaN,NaN
4,France,2022,Saanen,724.0,85738.0,710.0,77062.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,Canada,2006,NaN,NaN,NaN,34.0,4421.0,NaN,NaN,NaN,NaN,NaN,NaN
519,Canada,2005,NaN,NaN,NaN,35.0,4680.0,NaN,NaN,NaN,NaN,NaN,NaN
520,Canada,2004,NaN,NaN,NaN,36.0,4085.0,NaN,NaN,NaN,NaN,NaN,NaN
521,Canada,2003,NaN,NaN,NaN,47.0,4230.0,NaN,NaN,NaN,NaN,NaN,NaN
522,Canada,2001,NaN,NaN,NaN,61.0,5385.0,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
# Is there any NAs in the 'Ewes/Does' column? 
goats.info()
goats.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 13 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Country                                   523 non-null    object
 1   Year                                      523 non-null    int64
 2   Breed                                     508 non-null    object
 3   Flocks                                    142 non-null    float64
 4   Ewes/ Does                                164 non-null    float64
 5   Recorded flocks                           474 non-null    float64
 6   Recorded ewes                             513 non-null    float64
 7   Milking scheme                            320 non-null    float64
 8   Suckling period, d                        384 non-null    float64
 9   Milking machine, % of recorded flocks     155 non-null    float64
 10  Flocks in D recording                     13 non-null     float64
 11  Ewes in D recording/ Does in D recording  13 non-null     float64
 12  Notes                                     146 non-null    object
dtypes: float64(9), int64(1), object(3)
memory usage: 53.2+ KB

Country                                       0
Year                                          0
Breed                                        15
Flocks                                      381
Ewes/ Does                                  359
Recorded flocks                              49
Recorded ewes                                10
Milking scheme                              203
Suckling period, d                          139
Milking machine, % of recorded flocks       368
Flocks in D recording                       510
Ewes in D recording/ Does in D recording    510
Notes                                       377
dtype: int64

In [54]:
# Keep only relevant columns
goats = goats[['Ewes/ Does','Country','Year','Breed','Notes']]

In [55]:
# Drop nas 
goats['Ewes/ Does'].isna().sum()

359

In [59]:
goats = goats.dropna(subset=['Ewes/ Does'])

In [63]:
goats['category'] = 'goats'

/var/folders/5w/wbhyzbyd5779ybj0jwkcgjsh0000gn/T/ipykernel_22112/2256264958.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  goats['category'] = 'goats'

In [60]:
# Look at the country column
print(goats['Country'].unique())
print(len(goats['Country'].unique()))

['Croatia' 'France' 'Spain' 'Ukraine' 'Latvia, LVA' 'Slovenia' 'Serbia'
 'Germany (BRS)' 'Portugal (Min. Agric.)' 'Switzerland']
10

In [61]:
# Create country, parent df
area_parent = th.get_cat_yr(goats, 'Country', 'Year', columns = ['Value','year'])
area_parent['parent'] = 'country'
th.write_parent_child(out_path, area_parent, 'icar_goats', 'area')

In [64]:
# Create category, parent df
category_parent = th.get_cat_yr(goats, 'category', 'Year', columns = ['Value','year'])
category_parent['parent'] = 'category'
th.write_parent_child(out_path, category_parent, 'icar_goats', 'category')

In [59]:
goats.groupby(['Country'])['Year'].unique().apply(list).reset_index()

                  Country                                               Year
0                 Croatia  [2022, 2021, 2020, 2019, 2018, 2017, 2016, 201...
1                  France  [2022, 2021, 2020, 2019, 2018, 2017, 2016, 201...
2           Germany (BRS)                                             [2018]
3             Latvia, LVA         [2021, 2020, 2019, 2018, 2017, 2016, 2015]
4  Portugal (Min. Agric.)                                 [2018, 2017, 2011]
5                  Serbia         [2020, 2019, 2018, 2017, 2016, 2015, 2014]
6                Slovenia                           [2021, 2020, 2019, 2018]
7                   Spain  [2022, 2021, 2020, 2019, 2018, 2017, 2016, 201...
8             Switzerland                                       [2015, 2014]
9                 Ukraine                                             [2022]

In [60]:
goats.groupby(['Country','Breed'])['Year'].unique().apply(list).reset_index()

,Country,Breed,Year
0,Croatia,Alpine,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
1,Croatia,German Improved Fawn Goat,"[2010, 2009]"
2,Croatia,Saanen,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
3,France,Alpine,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
4,France,Poitevine,"[2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012]"
5,France,Saanen,"[2022, 2021, 2020, 2019, 2018, 2017, 2016, 201..."
6,Germany (BRS),Bunte Deutsche Edelziege,[2018]
7,Germany (BRS),Thueringer Wald Ziege,[2018]
8,Germany (BRS),Weisse Deutsche Edelziege,[2018]
9,"Latvia, LVA",All Breeds,"[2021, 2020, 2019, 2018, 2017, 2016, 2015]"
10,Portugal (Min. Agric.),Algarvia,"[2018, 2017, 2011]"
11,Portugal (Min. Agric.),Charnequeira,"[2018, 2017]"
12,Portugal (Min. Agric.),Preta de Montesinho,"[2018, 2017]"
13,Portugal (Min. Agric.),Serpentina,"[2018, 2017, 2011]"
14,Portugal (Min. Agric.),Serrana,"[2018, 2017, 2011]"
15,Serbia,Alpine,"[2020, 2019, 2018, 2017, 2016, 2015, 2014]"
16,Serbia,Saanen,"[2020, 2019, 2018, 2017, 2016, 2015, 2014]"
17,Slovenia,Alpine,"[2021, 2020, 2019, 2018]"
18,Slovenia,Dreznica,"[2021, 2020, 2019, 2018]"
19,Slovenia,Saanen,"[2021, 2020, 2019, 2018]"
20,Spain,Florida,"[2022, 2011, 2010, 2009, 2008]"
21,Spain,Guadarrama,"[2021, 2020, 2019, 2018, 2015, 2014, 2011, 2008]"
22,Spain,Majorera,[2016]
23,Spain,MalagueÃ±a,"[2015, 2014, 2011, 2008]"
24,Spain,Murciano-Granadina,"[2017, 2016, 2015, 2011, 2010, 2009, 2008]"
25,Spain,Palmera,"[2020, 2019, 2018]"
26,Spain,Payoya,"[2016, 2015, 2014, 2011, 2010, 2009, 2008]"
27,Spain,TinerfeÃ±a,[2016]
28,Spain,Verata,"[2016, 2015]"
29,Switzerland,Alpine,"[2015, 2014]"
30,Switzerland,Anglo Nubian,"[2015, 2014]"
31,Switzerland,Appenzell,"[2015, 2014]"
32,Switzerland,Grisons striped,"[2015, 2014]"
33,Switzerland,Nera Verzasca,"[2015, 2014]"
34,Switzerland,Peacock,"[2015, 2014]"
35,Switzerland,Saanen,"[2015, 2014]"
36,Switzerland,Toggenburg,"[2015, 2014]"
37,Ukraine,All Breeds,[2022]